<div class="ui list">
{% for attendant in data %}
    <div class="item">
        <i class="user icon"></i>
        <div class="content">
            {{ attendant.name }}
        </div>
    </div>
{% endfor %}
</div>
