<div class="ui segment spaceless sylius-grid-table-wrapper">
    <h3>{{ booking.title }} ({{ booking.calendar.title }})</h3>
    <ul>
        <li>Début: <span>{{ booking.beginAt|format_datetime }}</span></li>
        <li>Fin: <span>{{ booking.endAt|format_datetime }}</span></li>
    </ul>
</div>
