{% extends '@SyliusShop/layout.html.twig' %}
{% block content %}
    {#    {% include '@SyliusShop/Product/Index/_header.html.twig' %}#}
    <div class="ui hidden divider"></div>
    <div class="ui stackable grid">
        <div class="four wide column">
            {#            {% include '@SyliusShop/Product/Index/_sidebar.html.twig' %}#}
        </div>
        <div class="twelve wide column">

            {% include '@RobAirSyliusCalendarPlugin/booking/_single.html.twig' %}
        </div>
    </div>
{% endblock %}
